:root {
    /* Primary Brand Colors */
    --color-primary: #211a288e;
    --color-secondary: #e0d6e6;
    --color-accent: #cd8fed;
  
    /* Neutrals & Text */
    --color-bg: #211a28;
    --color-text: #e0d6e6;
}

/* Dark mode colors ideas
:root {
     Primary Brand Colors 
    --color-primary: #211a28;
    --color-secondary: #9059ab or #cd8fed or #e0d6e6;
    --color-accent: #cd8fed;
  
    Neutrals & Text 
    --color-bg: #211a28;
    --color-text: #9059ab;

    + card border : #2a2035
} */ 

/* Ligh mode colors 
:root {
    Primary Brand Colors 
    --color-primary: #2852A8;
    --color-secondary: antiquewhite;
    --color-accent: #cd8fed;
  
    Neutrals & Text 
    --color-bg: antiquewhite;
    --color-text: #2852A8;
} */ 

/* Global styles */
body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main{
    height:100%;
}

h1, h2, p{
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

h1{
    font-size: 45px;
    margin: 10px 0px;
}

h2{
    font-size: 35px;
}

p{
    font-size: 20px
}

/* Layout */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.pdf {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 10px;
    border: none;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px;
    position: relative;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    float: left;
    display: block;
    color: var(--color-secondary);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
nav a:hover {
    text-decoration: underline;
  }

.center-links ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.logo{
    font-size: 25px;
}

.lang{
    font-size: 20px;
}

/* Card section */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    margin: 60px auto;
    max-width: 800px;
    background-color: var(--color-bg);
    color: var(--color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-primary);
}

.card-text {
    flex: 1;
}  

/* Responsive styles*/
@media screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .center-links ul {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    nav a {
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .lang {
        align-self: left;
        margin-top: 10px;
    }

    .card {
        flex-direction: column;
        text-align: center;
        width: 85%;
        max-width: 400px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .card-text h1,
    .card-text p {
        text-align: center;
    }
}

/* Footer */
footer{
    position:none;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p{
    text-align: center;
    font-size: 15px;
}


/* PARTICLES STYLING */

canvas {
    display: block;
    vertical-align: bottom;
  }
  
/* ---- particles.js container ---- */
  
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
  
/* ---- stats.js ---- */
  
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
  
.js-count-particles{
    font-size: 1.1em;
}
  
#stats,
  .count-particles{
    -webkit-user-select: none;
}
  
#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
  
.count-particles{
    border-radius: 0 0 3px 3px;
}

/* Ensure the particles container covers the full viewport */
#particles-js {
    position: fixed; /* Keeps it fixed to the screen */
    top: 0;
    left: 0;
    width: 100%;   /* Full width */
    height: 100%;  /* Full height */
    z-index: 0;   /* Place it behind all other content */
    pointer-events: auto;
  }
  


